.videoFooter {
  margin: 20px;
  color: white;
  position: relative;
  bottom: 20%;
}

.videoFooterText h3 {
  color: aqua;
  padding-bottom: 20px;
}

.videoFooterText p {
  padding-bottom: 20px;
}

.videoFooterMusic {
  display: flex;
}

.titleMusicAnimated {
  width: 70%;
  overflow-x: hidden;
}

.titleMusicAnimated p {
  animation: textMusic 4s infinite linear;
}

.videoFooterGraphic {
  /* If go wrong, switch to the original example in the lesson/class  */
  position: absolute;
  right: 20px;
  bottom: 4px;
  height: 45px;
  /* filter: invert(1);  nice :) */
  animation: pulseMovement 1s infinite linear;
}

@keyframes pulseMovement {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.titleMusicAnimated {
  color: red;
}

@keyframes textMusic {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 440px) {
  .videoFooter {
    bottom: 22%;
  }
}
